@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body{
    font-family: "Poppins";
    font-size:15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}
a {
    text-decoration: none;
    color: rgba(150, 56, 56, 0.781);
    font-weight: 500;
}
a:hover {
    font-weight: 600;
}
ul{
    list-style-type: none;
}
.navbar{
    padding: 3rem 2rem;
    background-color: black;
    height: 0;
    min-height: 12vh;
}
.navbar .navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}
.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
    color: #e04e3d;
}
.navbar-toggler{
    background: #e04e3d;
    border: none;
    padding: 10px 6px;
    outline: none;
}
.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}
.navbar-toggler span + span{
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}
.navbar-toggler span + span + span{
    width: 10px;
    margin-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 2rem 1.2rem;
    font-size: 1.2rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-bottom: 2px solid #e04e3d;
}
/*.navbar-nav button{
    padding: 1.2em 1rem;
}
.navbar-nav .btn{
    background-color: #e04e3d;
    color: white;
    border-radius: 0;
}
.navbar-nav .btn:hover{
    background-color: #173d69;
}*/
.btn-w a{
    background-color: #e04e3d;
    color: white;
    padding: 1.2rem 1rem;
}
.btn-w a:hover {
    background-color: #173d69;
}
.bgimg {
    background:rgba(0,0,0,.4)url("./images/bghero.jpeg") no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
/*Timeline and Education*/

.timeline{
    border-left: 1px dashed;
    margin-left: 20px;
    margin-bottom: 30px;
}
.timeline .timeline-box{
    padding-left: 40px;
    margin-bottom: 30px;
    position: relative;
}
.timeline-icon{
    left: -18px;
    top: 0;
    background-color: #173d69;
    position: absolute;
    width: 35px;
    text-align: center;
    line-height: 30px;
}
.timeline-icon i{
    color: white;
}
.timeline .timeline-icon:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: #173d69;
    margin: -4px;
}
/*Services Section codes*/
.section-padding{
    padding: 10px 0;
}
.section-header{
    margin-bottom: 15px;
}
.section-header h2{
    color: #e04e3d;
    text-transform: uppercase;
    font-weight: 900;
}
.single-service{
    text-align: center;
    transition: .5s;
    height: 380px;
    padding: 115px 50px;
}
.single-service .icon{
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 20px rgba(0,0,0,.4);
    color: #000;
    display: inline-block;
    height: 90px;
    width: 90px;
    margin-bottom: 30px;
}
.single-service .icon i{
    font-size: 35px;
    display: block;
    line-height: 90px;
}
.single-service .content{
    height: 32px;
    transition: .5s;
}
/*.single-service .content h3{
    font-size: 20px;
    text-transform: uppercase;
    line-height: 35px;
    font-weight: 300;
    margin: 0;
}*/

.single-service .content p{
    color: #fff;
    line-height: 28px;
    margin: 27px 0 0;
}
.single-service:hover{
    background-image: linear-gradient(to bottom, #173d69 0%,#e04e3d 100%);
}
@media (max-width: 768px) {
    .navbar .navbar-nav a{
        background-color: #e04e3d;
    }
    .navbar-expand-lg .navbar-nav .nav-link:hover{
        border-bottom: 2px solid #fff;
    }
    .bgimg{
        max-width: 100%;
        height: auto;
    }
    h1{
        font-size: calc(.5rem + 3.3vw);
    }
}
@media (max-width: 600px){
    .skill-padding{
        padding-bottom: 30px;
    }
}